// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("https://www.minecraft.net/content/dam/minecraftnet/games/minecraft/key-art/Homepage_Hero-A-1440_Marketplace-Pass_1920x1080_01.jpg");
    font-family: "Noto Sans";
}

.header-one {
    height: 36.1px;
    display: flex;
    justify-content: flex-end;
    color:#a0e080;
    background-color: #000000;
}

.header-info-one {
    padding: 0 16px 0 12px;
}

.header-info-one:hover {
    transition: 0.7s;
    color: #FFFFFF;
}

.header {
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #171615;
    padding: 15px;
}

.header-informacoes {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    color: #FFFFFF;
}

.header-info, .header-info-one {
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .08em;
    text-transform: uppercase;
    transition: 0.7s;
    cursor: pointer;
}

.header-info {
    padding: 0 7px 0 0;
}

#jogo-header, #comunidade-header {
    padding: 0 20px 0 15px;
}

#produtos-header {
    padding: 0 7px 0 15px;
}

#suporte-header {
    padding: 0 7px 0 30px;
}

.header-info:hover {
    transition: 0.7s;
    color:#a0e080;
}

.flecha {
    padding: 0 0 10px 0;
    margin: 0;
    cursor: pointer;
}

.flecha:hover {
    filter: invert(35%) sepia(40%) saturate(125%) hue-rotate(100deg) brightness(110%) contrast(85%);
    transition: 0.3s;
}

.logotipo {
    display: flex;
    align-content: center;
    width: auto;
    height: 38px;
    margin-right: 160px;
    cursor: pointer;
}

.button {
    width: auto;
    height: 50px;
    padding: 0 1.5rem;
    background-color: #3C8527;
    color:#FFFFFF;
    border-top: 5px solid #5D9B45;
    border-bottom: 5px solid #2A641C;
    border-left: 5px solid #2A641C;
    border-right: 5px solid #2A641C;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: .03rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #2A641C;
}

footer {
    display: flex;
    background-color: #111111;
    margin-top: 35.7%;
    padding: 20px;
}

.footer-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 130px;
}

.footer-img {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    margin-right: 20px;
}

.footer-info1 {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}

.footer-texto-mojang {
    color: #D1CFCE;
    font-size: 12px;
    margin-left: 150px;
    margin-top: 20px;
}

.footer-texto {
    color: #a0e080;
    font-size: 12px;
    line-height: 1;
    margin-top: 7px;
    cursor: pointer;
}

.footer-texto:hover {
    text-decoration: underline;
    transition: 0.7s;
}

.traco {
    color: #FFFFFF;
    margin: 0 5px;
}

.footer-info2 {
    padding: 0 15px 0 30px;
    margin-top: 30px;
}

.footer-titulo {
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 0;
}

.footer-esrb {
    display: flex;
    width: 190.4px;
    height: auto;
    margin-left: 100px;
    margin-bottom: 170px;
}